[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-python = "==3.4.*"
pandas = "==0.22.*"
pydash = "==4.2.*"
regex = "==2017.12.12"
torch = {file = "https://download.pytorch.org/whl/cpu/torch-1.1.0-cp36-cp36m-linux_x86_64.whl"}
ujson = "==1.35"
pyyaml = "==3.12"
colorlog = "==3.1.*"
gym = {extras = ["atari", "box2d", "classic_control"],version = "==0.12.*"}
colorlover = "==0.3.*"
ray = {extras = ["debug"],version = "==0.7.*"}
xvfbwrapper = "==0.2.*"
roboschool = "==1.0.*"
plotly = "*"

[requires]
python_version = "3.6"
